/*===================
 slide page-1
 ====================*/

.slide {
  height: auto;

  h1 {
    color: #ffffff;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    margin: 25% 0 2% 0;
  }

  .carousel-caption {
    background: transparent url("../img/bg-man.png") no-repeat scroll center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 1%;
    bottom: 1%;
  }

  .buy-lg {
    padding: 2% 5% 1% 5%;
  }

  .carousel-control {
    width: 5%;

    &.left {
      background: none;
    }

    &.right {
      background: none;
    }

    .arrow-l {
      height: 35%;
      margin-top: 200%;
    }

    .arrow-r {
      height: 35%;
      margin-top: 200%;
    }
  }
}

@media screen and (max-width: 900px) {

  .slide h1 {
    font-size: 1em;
    line-height: 1em;
    margin: 5% 0 1% 0;
  }

  .slide .buy-lg {
    padding: 1% 2% 1% 2%;
  }

  .slide .carousel-caption {
    background: none;
  }
}

